.html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: #0f0f0f;
  position: relative;
  margin: 0;
  display: block;
  color: #fff;
  font-family: sans-serif;
}

.page-container {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/fc2c345e-5991-4917-be24-cd328b62cc3f/web_tall_panel/IN-en-20250414-TRIFECTA-perspective_0f1fb403-6efb-4223-8f10-cfd1a902f22c_large.jpg")
    50% center / cover no-repeat;
  filter: blur(16px);
  opacity: 0.16;
  mask-image: linear-gradient(
    rgb(217, 217, 217) 78.62%,
    rgba(115, 115, 115, 0) 100%
  );
}

.body-container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.background-2 {
  opacity: 75%;
  background: radial-gradient(
    92.16% 100% at 49.87% 0%,
    rgba(247, 99, 107, 0.3) 19.86%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  height: 75rem;
  width: 100%;
}

.background-3 {
  background: radial-gradient(
    50% 100% at 50% 0%,
    rgba(44, 66, 156, 0.15) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  height: 75rem;
  width: 100%;
}

.header {
  position: relative;
  padding: 0 1.5rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7889) 8.333%,
    rgba(0, 0, 0, 0.7556) 16.67%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.6222) 33.33%,
    rgba(0, 0, 0, 0.5222) 41.67%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.2778) 58.33%,
    rgba(0, 0, 0, 0.1778) 66.67%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0.04444) 83.33%,
    rgba(0, 0, 0, 0.01111) 91.67%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
  margin-bottom: 1rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7.5rem;
}

.logo-and-sign-in-section {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  height: 5rem;
}

.logo {
  flex: 1;
}

.language-and-sign-in-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: calc(100% + 16px);
  height: 5rem;
}

.sign-in-section {
  margin-left: 1rem;
}

.language-section {
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  background-color: #0f0f0f;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #444;
}

.language-section:focus {
  border: 1.5px solid #fff;
}

.language-icon {
  flex: 1;
  font-size: 0.875rem;
  cursor: pointer;
}

.language-select {
  flex: 1;
  position: relative;
  border: 0;
  background-color: #0f0f0f;
  color: #fff;
  font-size: 0.875rem;
  cursor: pointer;
  outline: none;
  transition: border 0.2s;
}

.sign-in-btn {
  border: 0;
  cursor: pointer;
  text-decoration: none;
  color: #0f0f0f;
  background-color: #fff;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.floating-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

.floating-panel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: #0f0f0f;
  border-radius: 2rem;
  color: rgba(255, 255, 255, 0.7);
  padding: 0rem 1rem;
}

.floating-section a {
  position: relative;
  display: inline;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 0.875rem;
  padding: 0.5rem 0 calc(0.25rem + 0.5rem);
  margin: 0.2rem 1.25rem;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 0 9.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 0 1.5rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

.get-started-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 114rem;
  position: relative;
  clip-path: polygon(
    0 0,
    0% 20%,
    0 51%,
    0 100%,
    22% 96%,
    49% 95%,
    74% 96%,
    100% 100%,
    100% 48%,
    100% 20%,
    100% 0,
    48% 0
  );
}

.get-started-bg-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-image: url("./assets/get-started-bg.jpg");
  background-size: cover;
  background-position: center;
  filter: drop-shadow(24px 32px 24px rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.get-started-bg-2 {
  position: absolute;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  mask-image: radial-gradient(
    circle at center bottom,
    black 60%,
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    circle at center bottom,
    black 60%,
    transparent 100%
  );
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
  background: linear-gradient(to bottom, #1a1a1a, #3a2a3a);
  z-index: 3;
}

.get-started-bg-2::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8));
  z-index: 4;
}

.get-started-content {
  height: 30rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 0rem 5rem 5rem;
  width: 100%;
  max-width: 36.625rem;
}

.get-started-text h1 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.get-started-text p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1.5rem;
  text-align: center;
}

.get-started-sign-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 36.625rem;
}

.get-started-sign-in-section h3 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.5rem;
  text-align: center;
}

.get-started-form {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
}

.get-started-input {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #0f0f0f;
  color: #fff;
  font-size: 1.125rem;
  outline: none;
  appearance: none;
  background-clip: padding-box;
  border: 1px solid #444;
  transition: border 0.2s;
}

.get-started-btn {
  border: 0;
  flex: 0 0 auto;
  width: auto;
  font-size: 1.5rem;
  font-weight: 500;
  min-height: 3.5rem;
  padding: 0.75rem 2rem;
  border-radius: 100px;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  margin-left: 1rem;
}

.trending-now-header h2 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}

.trending-now-section {
  width: 100%;
}

.trending-list {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  padding-top: 1rem;
  gap: 2rem;
  transition: scroll-behavior 0.3s ease;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.trending-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome/Safari */
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
  border-radius: 50%;
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

.t-bg-1 {
  background-image: url(./assets/trending-item-1.jpg);
}

.t-bg-2 {
  background-image: url(./assets/t-bg-2.jpg);
}

.t-bg-3 {
  background-image: url(./assets/tg-bg-3.jpg);
}

.t-bg-4 {
  background-image: url(./assets/t-bg-4.jpg);
}

.t-bg-5 {
  background-image: url(./assets/t-bg-5.jpg);
}

.t-bg-6 {
  background-image: url(./assets/t-bg-6.jpg);
}

.t-bg-7 {
  background-image: url(./assets/t-bg-7.jpg);
}

.t-bg-8 {
  background-image: url(./assets/t-bg-8.jpg);
}

.t-bg-9 {
  background-image: url(./assets/t-bg-9.jpg);
}

.t-bg-10 {
  background-image: url(./assets/t-bg-10.jpg);
}

.trending-card-img {
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  width: 128px;
  height: 256px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.trending-card-img-container {
  cursor: pointer;
}

.trending-cards {
  position: relative;
  /* max-width: 100%; */
  overflow: hidden;
}

.trending-card-img-container:hover .trending-card-img {
  transform: scale(1.05);
}

.trending-cards-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: scroll;
}

.trending-card-img {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
}

.trending-card-num {
  left: -20px;
  top: -248px;
  font-size: 4rem;
  z-index: 20;
  line-height: 1;
  display: inline-block;
  height: 1em;
  position: relative;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.trending-card-img-container:hover .trending-card-num {
  transform: scale(1.1);
}

.more-reasons-to-join-section {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.faq-section {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ready-to-watch-section {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.default-ltr-cache-1636232 {
  color: rgba(255, 255, 255, 0.7);
  text-wrap: wrap;
}

/* Media Queries */

@media (max-width: 600px) {
  .default-ltr-cache-1yzh9sx {
    height: 62.5rem;
  }
}

@media (min-width: 960px) {
  .get-started-section {
    width: calc(100vw - 4rem);
  }
}
