.html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: #0f0f0f;
  position: relative;
  margin: 0;
  display: block;
}

.page-container {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/fc2c345e-5991-4917-be24-cd328b62cc3f/web_tall_panel/IN-en-20250414-TRIFECTA-perspective_0f1fb403-6efb-4223-8f10-cfd1a902f22c_large.jpg") 50% center / cover no-repeat;
  filter: blur(16px);
  opacity: 0.16;
  mask-image: linear-gradient(
    rgb(217, 217, 217) 78.62%,
    rgba(115, 115, 115, 0) 100%
  );
}

.body-container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.background-2 {
  opacity: 75%;
  background: radial-gradient(
    92.16% 100% at 49.87% 0%,
    rgba(247, 99, 107, 0.3) 19.86%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  height: 75rem;
  width: 100%;
}

.background-3 {
  background: radial-gradient(
    50% 100% at 50% 0%,
    rgba(44, 66, 156, 0.15) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  height: 75rem;
  width: 100%;
}

.header {
  position: relative;
  padding: 0 1.5rem;
  border: 1px solid #fff;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7.5rem;
}

.logo-and-sign-in-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.floating-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

.floating-section a {
  position: relative;
  display: inline;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem 0 calc(0.25rem + 0.5rem);
  margin: 0.2rem 1.25rem;
}

a {
  background-color: transparent;
}

.main-content {
  flex: 1;
  border: 1px solid #fff;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 0 1.5rem;
  border: 1px solid #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

.get-started-section {
  border: 1px solid #f1cb6b;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.trending-now-section {
  border: 1px solid #f1cb6b;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.more-reasons-to-join-section {
  border: 1px solid #f1cb6b;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.faq-section {
  border: 1px solid #f1cb6b;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ready-to-watch-section {
  border: 1px solid #f1cb6b;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Media Queries */

@media (max-width: 600px) {
  .default-ltr-cache-1yzh9sx {
    height: 62.5rem;
  }
}

.default-ltr-cache-1636232 {
  color: rgba(255, 255, 255, 0.7);
  text-wrap: wrap;
}
